<p id="notice"><%= notice %></p>

<h1>Listing Resultados</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Pesoinicial</th>
      <th>Pesofinal</th>
      <th>Status</th>
      <th>Perdas</th>
      <th>Ganhos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resultados.each do |resultado| %>
      <tr>
        <td><%= resultado.paciente.nome if resultado.paciente %></td>
        <td><%= resultado.pesoinicial %></td>
        <td><%= resultado.pesofinal %></td>
        <td><%= resultado.status %></td>
        <td><%= resultado.perdas %></td>
        <td><%= resultado.ganhos %></td>
        <td><%= link_to 'Show', resultado %></td>
        <td><%= link_to 'Edit', edit_resultado_path(resultado) %></td>
        <td><%= link_to 'Excluir', resultado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resultado', new_resultado_path %>
